USE [QITDB]
GO
/****** Object:  Table [dbo].[Inspections]    Script Date: 21-08-2026 01:18:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Inspections](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[InspectionDate] [date] NOT NULL,
	[MachineLineId] [nvarchar](100) NOT NULL,
	[DefectType] [nvarchar](30) NOT NULL,
	[Severity] [nvarchar](10) NOT NULL,
	[Remarks] [nvarchar](1000) NULL,
	[Status] [nvarchar](10) NOT NULL,
	[ResolutionNote] [nvarchar](1000) NULL,
	[ResolvedAt] [datetime2](7) NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[Source] [nvarchar](20) NOT NULL,
	[CreatedByUserId] [int] NULL,
 CONSTRAINT [PK_Inspections] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 21-08-2026 01:18:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Username] [nvarchar](50) NOT NULL,
	[PasswordHash] [nvarchar](200) NOT NULL,
	[DisplayName] [nvarchar](100) NOT NULL,
	[Role] [nvarchar](20) NOT NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Inspections] ON 

INSERT [dbo].[Inspections] ([Id], [InspectionDate], [MachineLineId], [DefectType], [Severity], [Remarks], [Status], [ResolutionNote], [ResolvedAt], [CreatedAt], [Source], [CreatedByUserId]) VALUES (1, CAST(N'2026-08-20' AS Date), N'ML1', N'WeaveDefect', N'Critical', N'take action ASAP', N'Resolved', N'string', CAST(N'2026-08-20T13:43:46.4143726' AS DateTime2), CAST(N'2026-08-20T13:43:08.9996110' AS DateTime2), N'manual', NULL)
INSERT [dbo].[Inspections] ([Id], [InspectionDate], [MachineLineId], [DefectType], [Severity], [Remarks], [Status], [ResolutionNote], [ResolvedAt], [CreatedAt], [Source], [CreatedByUserId]) VALUES (2, CAST(N'0001-01-01' AS Date), N'ML1', N'WeaveDefect', N'Minor', N'test', N'Open', NULL, NULL, CAST(N'2026-08-20T18:42:24.4020803' AS DateTime2), N'manual', NULL)
INSERT [dbo].[Inspections] ([Id], [InspectionDate], [MachineLineId], [DefectType], [Severity], [Remarks], [Status], [ResolutionNote], [ResolvedAt], [CreatedAt], [Source], [CreatedByUserId]) VALUES (3, CAST(N'0001-01-01' AS Date), N'ML1', N'WeaveDefect', N'Major', N'', N'Open', NULL, NULL, CAST(N'2026-08-20T18:42:33.2697850' AS DateTime2), N'manual', NULL)
SET IDENTITY_INSERT [dbo].[Inspections] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([Id], [Username], [PasswordHash], [DisplayName], [Role], [IsActive], [CreatedAt]) VALUES (1, N'admin', N'$2a$12$iqjmWB4sbnqLN8N3TvSGo.9VV4/Z6B5pQg5bAxzfziE4D7jlFuzVy', N'System Administrator', N'Admin', 1, CAST(N'2026-08-19T22:58:14.2033636' AS DateTime2))
INSERT [dbo].[Users] ([Id], [Username], [PasswordHash], [DisplayName], [Role], [IsActive], [CreatedAt]) VALUES (2, N'sumit', N'$2a$11$m/BngdYgnsNr1jGzCZS1ruQWSYG.dVwJriSqxtLsC79XkB9g2kKb.', N'Sumit', N'Supervisor', 1, CAST(N'2026-08-20T13:41:28.0726916' AS DateTime2))
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_Users_Username]    Script Date: 21-08-2026 01:18:04 AM ******/
ALTER TABLE [dbo].[Users] ADD  CONSTRAINT [UQ_Users_Username] UNIQUE NONCLUSTERED 
(
	[Username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Inspections] ADD  CONSTRAINT [DF_Inspections_Status]  DEFAULT ('Open') FOR [Status]
GO
ALTER TABLE [dbo].[Inspections] ADD  CONSTRAINT [DF_Inspections_CreatedAt]  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Inspections] ADD  CONSTRAINT [DF_Inspections_Source]  DEFAULT ('manual') FOR [Source]
GO
ALTER TABLE [dbo].[Users] ADD  CONSTRAINT [DF_Users_Role]  DEFAULT ('Supervisor') FOR [Role]
GO
ALTER TABLE [dbo].[Users] ADD  CONSTRAINT [DF_Users_IsActive]  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Users] ADD  CONSTRAINT [DF_Users_CreatedAt]  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Inspections]  WITH CHECK ADD  CONSTRAINT [FK_Inspections_Users] FOREIGN KEY([CreatedByUserId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[Inspections] CHECK CONSTRAINT [FK_Inspections_Users]
GO
ALTER TABLE [dbo].[Inspections]  WITH CHECK ADD  CONSTRAINT [CK_Inspections_DefectType] CHECK  (([DefectType]='Other' OR [DefectType]='CountDeviation' OR [DefectType]='HoleTear' OR [DefectType]='ShadeVariation' OR [DefectType]='WeaveDefect'))
GO
ALTER TABLE [dbo].[Inspections] CHECK CONSTRAINT [CK_Inspections_DefectType]
GO
ALTER TABLE [dbo].[Inspections]  WITH CHECK ADD  CONSTRAINT [CK_Inspections_Severity] CHECK  (([Severity]='Critical' OR [Severity]='Major' OR [Severity]='Minor'))
GO
ALTER TABLE [dbo].[Inspections] CHECK CONSTRAINT [CK_Inspections_Severity]
GO
ALTER TABLE [dbo].[Inspections]  WITH CHECK ADD  CONSTRAINT [CK_Inspections_Status] CHECK  (([Status]='Resolved' OR [Status]='Open'))
GO
ALTER TABLE [dbo].[Inspections] CHECK CONSTRAINT [CK_Inspections_Status]
GO
